In [1]:
from __future__ import print_function  # Compatability with Python 3

# NumPy for numerical computing
import numpy as np

# Pandas for DataFrames
import pandas as pd
pd.set_option('display.max_columns', 100)

# Matplotlib for visualization
from matplotlib import pyplot as plt
# display plots in the notebook
%matplotlib inline 

# Seaborn for easier visualization
import seaborn as sns

In [2]:
# Load real estate data from CSV
df = pd.read_csv('Turnstile_Usage_Data_for_Brooklyn-Manhattan_Transit__BMT__Division__2016.csv')

In [10]:
#sample the data frame 
sdf = df.sample( n=50000, random_state=42)

In [4]:
# Dataframe dimensions
df.shape

(2016021, 11)

In [5]:
# Column datatypes
df.dtypes

C/A                                                           object
Unit                                                          object
SCP                                                           object
Station                                                       object
Line Name                                                     object
Division                                                      object
Date                                                          object
Time                                                          object
Description                                                   object
Entries                                                        int64
Exits                                                          int64
dtype: object

In [6]:
# Display first 5 rows of df
df.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/04/2016,23:00:00,REGULAR,5572864,1881239
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/04/2016,19:00:00,REGULAR,5572521,1881206
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/04/2016,15:00:00,REGULAR,5571587,1881113
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/04/2016,11:00:00,REGULAR,5571313,1881031
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/04/2016,08:10:05,REGULAR,5571173,1880736

In [7]:
# Filter and display only df.dtypes that are 'object'
#df.select_dtypes(include=[object])
#object_mask = df.dtypes == 'object'

df.dtypes[df.dtypes == 'object']

C/A            object
Unit           object
SCP            object
Station        object
Line Name      object
Division       object
Date           object
Time           object
Description    object
dtype: object